.main-index {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10em;
}
.main-opis {
  text-align: center;
  flex-basis: 100%;
  padding-top: 4em;
  padding-bottom: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-opis > a {
  color: white;
  text-decoration: none;
}
.main-opis > a:hover {
  cursor: pointer;
}
.main-opis > a > h2 {
  font-size: 2rem;
  text-transform: uppercase;
}
.div-odziez {
  text-decoration: none;
  flex-basis: 50%;
  height: 800px;
  overflow: hidden;
  background: url(../images/misbhvhoodie.png) no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.odziez-opis,
.buty-opis,
.akcesoria-opis {
  font-weight: bold;
  font-size: 2.5rem;
  color: white;
}

.div-buty {
  text-decoration: none;
  flex-basis: 50%;
  height: 800px;
  overflow: hidden;
  background: url(../images/yeezy.jpg) no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div-akcesoria {
  text-decoration: none;
  flex-basis: 100%;
  height: 1000px;
  overflow: hidden;
  background: url(../images/backpack.png) no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shadow {
  transition: 1.8s;
}

@media screen and (max-width: 1680px) {
  .div-odziez {
    height: 700px;
  }
  .div-buty {
    height: 700px;
  }
  .div-akcesoria {
    height: 1000px;
  }
}
@media screen and (max-width: 1490px) {
  .div-odziez {
    height: 600px;
  }
  .div-buty {
    height: 600px;
  }
  .div-akcesoria {
    height: 800px;
  }
}
@media screen and (max-width: 1280px) {
  .main-opis > a > h2 {
    font-size: 1.8rem;
  }
  .odziez-opis,
  .buty-opis,
  .akcesoria-opis {
    font-size: 2rem;
  }
  .div-odziez {
    height: 500px;
  }
  .div-buty {
    height: 500px;
  }
  .div-akcesoria {
    height: 700px;
  }
}
@media screen and (max-width: 1050px) {
  .div-odziez {
    height: 450px;
  }
  .div-buty {
    height: 450px;
  }
  .div-akcesoria {
    height: 600px;
  }
}
@media screen and (max-width: 950px) {
  .div-odziez {
    flex-basis: 100%;
    height: 725px;
  }
  .div-buty {
    flex-basis: 100%;
    height: 700px;
  }
  .div-akcesoria {
    height: 700px;
  }
}
@media screen and (max-width: 745px) {
  .div-odziez {
    height: 700px;
  }
  .div-buty {
    height: 500px;
  }
  .div-akcesoria {
    height: 700px;
  }
}
@media screen and (max-width: 670px) {
  .div-odziez {
    height: 600px;
  }
  .div-buty {
    height: 500px;
  }
  .div-akcesoria {
    height: 600px;
  }
}
@media screen and (max-width: 570px) {
  .div-odziez {
    height: 500px;
  }
  .div-buty {
    height: 400px;
  }
  .div-akcesoria {
    height: 500px;
  }
}
@media screen and (max-width: 470px) {
  .main-opis > a > h2 {
    font-size: 1.4rem;
  }
  .odziez-opis,
  .buty-opis,
  .akcesoria-opis {
    font-size: 2rem;
  }
  .div-odziez {
    height: 400px;
  }
  .div-buty {
    height: 300px;
  }
  .div-akcesoria {
    height: 400px;
  }
}
@media screen and (max-width: 370px) {
  .main-opis > a > h2 {
    font-size: 1.2rem;
  }
  .odziez-opis,
  .buty-opis,
  .akcesoria-opis {
    font-size: 1.6rem;
  }
  .div-odziez {
    height: 300px;
  }
  .div-buty {
    height: 300px;
  }
  .div-akcesoria {
    height: 300px;
  }
}
@media screen and (max-width: 310px) {
  .main-opis > a > h2 {
    font-size: 1rem;
  }
  .odziez-opis,
  .buty-opis,
  .akcesoria-opis {
    font-size: 1.4rem;
  }
  .div-odziez {
    height: 250px;
  }
  .div-buty {
    height: 200px;
  }
  .div-akcesoria {
    height: 250px;
  }
}
