::-webkit-scrollbar {
  display: none;
}

.nav {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: auto 25vh 40vh;
  grid-template-areas:
    "hamburger logo icons"
    "search search search"
    "menu menu menu";
}
@media screen and (max-width: 1290px) {
  .nav {
    grid-template-rows: 100px 25vh 40vh;
  }
  .div-hamburger {
    display: flex;
  }
  .list-menu {
    justify-content: center;
    flex-direction: column;
    grid-area: menu;
    display: flex;
  }
  .div-search {
    display: flex;
  }
  .fas.fa-bars {
    display: none;
  }
  .fas.fa-times {
    display: flex;
  }
  .logo {
    padding-left: 0;
    padding-right: 0;
  }
  .search {
    width: 50vw;
  }
  .list-menu > li {
    width: 100%;
  }
  .list-menu > li > a {
    text-align: center;
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 445px) {
  .nav {
    grid-template-rows: 80px 10vh 40vh;
  }
  .logo {
    height: 50px;
  }
  .fas.fa-bars {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1.8rem;
  }
  .fas.fa-times {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    font-size: 2.345rem;
  }
  .far.fa-user {
    margin-left: 0.8rem;
    font-size: 1.6rem;
  }
  .fas.fa-search,
  .search {
    font-size: 1.3rem;
  }
  .fas.fa-shopping-cart {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.6rem;
  }
  .search {
    width: 65vw;
  }
  .list-menu > li > a {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 340px) {
  .nav {
    grid-template-rows: 75px 10vh 40vh;
  }
  .logo {
    height: 45px;
  }
  .fas.fa-bars {
    margin-left: 0.9rem;
    margin-right: 0.9rem;
    font-size: 1.6rem;
  }
  .fas.fa-times {
    margin-left: 0.9rem;
    margin-right: 0.9rem;
    font-size: 2.145rem;
  }
  .far.fa-user {
    margin-left: 0.6rem;
    font-size: 1.4rem;
  }
  .fas.fa-shopping-cart {
    margin-left: 0.6rem;
    margin-right: 0.6rem;
    font-size: 1.4rem;
  }
  .fas.fa-search,
  .search {
    font-size: 1.2rem;
  }
  .list-menu > li > a {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 315px) {
  .nav {
    grid-template-rows: 60px 10vh 40vh;
  }
  .logo {
    height: 35px;
  }
  .fas.fa-bars {
    font-size: 1.4rem;
  }
  .fas.fa-times {
    font-size: 1.945rem;
  }
  .far.fa-user {
    margin-left: 0.4rem;
    font-size: 1.2rem;
  }
  .fas.fa-shopping-cart {
    font-size: 1.2rem;
  }
  .fas.fa-search,
  .search {
    font-size: 1.1rem;
  }
  .list-menu > li > a {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 270px) {
  .nav {
    grid-template-rows: 50px 10vh 40vh;
  }
  .logo {
    height: 30px;
  }
  .fas.fa-bars {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    font-size: 1.2rem;
  }
  .fas.fa-times {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    font-size: 1.745rem;
  }
  .far.fa-user {
    margin-left: 0.2rem;
    font-size: 1rem;
  }
  .fas.fa-shopping-cart {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 1rem;
  }
  .fas.fa-search,
  .search {
    font-size: 1rem;
  }
  .list-menu > li > a {
    font-size: 1rem;
  }
}
