a {
  text-decoration: none;
  color: white;
}
.odziez-h1 {
  letter-spacing: 2px;
  flex-basis: 100%;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}
.odziez-opis {
  text-align: center;
  text-transform: uppercase;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  font-size: 1.3rem;
}
.odziez-cena {
  color: rgb(204, 202, 202);
  text-align: center;
  font-size: 1.15rem;
}
.main-odziez {
  padding-left: 8em;
  padding-right: 8em;
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 10em;
}
.image-container {
  margin: 1em;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.odziez-picture {
  border-radius: 2.5%;
  width: 300px;
  height: 450px;
}
@media screen and (max-width: 750px) {
  .main-odziez {
    padding-left: 4em;
    padding-right: 4em;
  }
}
@media screen and (max-width: 550px) {
  .main-odziez {
    padding-left: 3em;
    padding-right: 3em;
  }
}
@media screen and (max-width: 400px) {
  .main-odziez {
    padding-left: 2em;
    padding-right: 2em;
  }
}
@media screen and (max-width: 400px) {
  .odziez-h1 {
    font-size: 2.2rem;
  }
  .odziez-opis {
    font-size: 1rem;
  }
  .odziez-cena {
    font-size: 0.95rem;
  }
  .main-odziez {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  .image-container {
    margin-right: 0;
    margin-left: 0;
  }
  .odziez-picture {
    border-radius: 2.5%;
    width: 250px;
    height: 360px;
  }
}
@media screen and (max-width: 315px) {
  .main-odziez {
    padding-left: 0.25em;
    padding-right: 0.25em;
  }
  .odziez-h1 {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 250px) {
  .main-odziez {
    padding-left: 0.15em;
    padding-right: 0.15em;
  }
}
